* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: rgba(255, 255, 255, 0.671);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

main {
  max-width: 80%;
  margin: auto;
}

h2 {
  margin-top: 0;
}
